
$font-stack: Avenir next, sans-serif;
$primary-color: #f4a1ae;
$secondary-color: #0932d5;
$H1: 36px;
$H2: 24px;
$H3: 16px;

body * {
    font-family: $font-stack;
    background: rgb(16, 16, 18);
    color: white;
}

h1{
    font-size: $H1;
    font-weight: bold;
}
h2{ 
    font-size: $H2;
}
h3{
    font-size: $H3;
    font-weight: normal;
}